.banner-blog{
  position: relative;
  width: 100%;
  height: 350px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-wrapper{
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    p{
      font-size: 24px;
      font-weight: bold;
      color: white;
    }
  }
}

.blog_list_post{
  &_author{
    margin-right: 100px;
  }

  &_description{
    padding-bottom: 200px;

    img{
      width: 100% !important;
      height: 300px !important;
      object-fit: cover;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .banner-blog{
    height: 250px;

    &-wrapper {
      height: 250px;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .blog_list_post{
    &_author,
    &_date{
      margin-right: 0;
      display: block;
    }
  }

  .banner-blog{
    height: 200px;

    &-wrapper {
      height: 200px;

      justify-content: center;
    }
  }
}