.catalog_page{
  background: $background_color;
  padding-bottom: 15px;

  &-filter{
    background: #1f223e;
    padding: 8px 0;
    position: relative;
    z-index: 10;
    .open_mobile_filter{
      color:#fff;
      border:0 none;
      cursor:pointer;
      background: none;
      i{
        color:#fff;
      }
    }
    &__search{
      height: 100%;
      position: relative;
      &:after{
        content:url('/storage/images/search-icon-catalog-filter.png');
        position: absolute;
        left:10px;
        top:55%;
        transform: translateY(-50%);
      }
      input{
        padding-left: 30px;
        height: 100%;
        border:0 none;
        width:100%;
      }
    }
    &__menu{
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-item{
        position: relative;
        >a{
          color:#fff;
        }
        &__dropdown{
          position: absolute;
          transform: scale(0);
          top:42px;
          box-shadow: 0 6px 12px 1px rgba(0,0,0,.3);
          left:-1px;
          transition: all .4s;
          opacity: 0;
          background: #fff;
          min-width: 100px;

          &-attributes{
            left: -250px;
            &:before{
              right: 36px;
              left:auto !important;
            }
          }

          .custom_checkbox{
            float:left;
            display: block;
            width: 50%;
            text-align: left;
            white-space: nowrap;
          }

          &:before{
            content:"";
            width: 0px;
            height: 0px;
            position: absolute;
            left:20px;
            top:-8px;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #fff;
          }
          &.open{
            opacity: 1;
            transform: scale(1);
          }

          &-item{
            display: block;
            padding: 5px 8px;
            text-align: left;
            white-space: nowrap;
            &.active,&:hover:not([data-dasabled]){
              background: #ffc50b;
              color:#fff;
            }
          }
        }

        &__toggler{
          position: relative;
          &:after {
            content: "";
            width: 0;
            transition: .1s;
            height: 0;
            position: absolute;
            right:-15px;
            top:50%;
            transform: translateY(-50%);
          }
          &.up{
            &:after{
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;

              border-bottom: 5px solid #fff;
            }
          }
          &.down{
            &:after{
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;

              border-top: 5px solid #fff;
            }
          }
        }
      }

    }
  }
  &-content{
    padding: 20px 0;
    position: relative;
    &__loader_wrapper{
      left:0;
      top:0;
      opacity: 0;
      transition: .4s;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.8);
      position: absolute;
      color:#1f223e;

      &.show{
        opacity: 1;
        z-index: 24;
      }

      .sk-folding-cube {
        top:calc(20% - 20px);
        left:calc(50% - 20px);
        width: 40px;
        height: 40px;
        position: absolute;
        -webkit-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
      }

      .sk-folding-cube .sk-cube {
        float: left;
        width: 50%;
        height: 50%;
        position: relative;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
      .sk-folding-cube .sk-cube:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333;
        -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
        animation: sk-foldCubeAngle 2.4s infinite linear both;
        -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
      }
      .sk-folding-cube .sk-cube2 {
        -webkit-transform: scale(1.1) rotateZ(90deg);
        transform: scale(1.1) rotateZ(90deg);
      }
      .sk-folding-cube .sk-cube3 {
        -webkit-transform: scale(1.1) rotateZ(180deg);
        transform: scale(1.1) rotateZ(180deg);
      }
      .sk-folding-cube .sk-cube4 {
        -webkit-transform: scale(1.1) rotateZ(270deg);
        transform: scale(1.1) rotateZ(270deg);
      }
      .sk-folding-cube .sk-cube2:before {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
      }
      .sk-folding-cube .sk-cube3:before {
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
      }
      .sk-folding-cube .sk-cube4:before {
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
      }
      @-webkit-keyframes sk-foldCubeAngle {
        0%, 10% {
          -webkit-transform: perspective(140px) rotateX(-180deg);
          transform: perspective(140px) rotateX(-180deg);
          opacity: 0;
        } 25%, 75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
            opacity: 1;
          } 90%, 100% {
              -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
              opacity: 0;
            }
      }

      @keyframes sk-foldCubeAngle {
        0%, 10% {
          -webkit-transform: perspective(140px) rotateX(-180deg);
          transform: perspective(140px) rotateX(-180deg);
          opacity: 0;
        } 25%, 75% {
            -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
            opacity: 1;
          } 90%, 100% {
              -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
              opacity: 0;
            }
      }
    }
    &__filter{
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
      background: #fff;
      padding: 5px 15px;
      margin-top:42px;
      align-self: flex-start;
      &-content{
        &-attributes{
          &__header{
            font-size: 21px;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            display: flex;
            &:hover{
              &:after{
                margin-left: 15px;
                margin-top: -6px;

                content: '';
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 7px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }

            &::after{
              transition: all .4s;
              margin-left: 15px;
              margin-top: 9px;

              content: '';
              border: solid black;
              border-width: 0 3px 3px 0;
              display: inline-block;
              padding: 7px;
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);

            }

            &.is-closed{
              &:hover{
                &:after{
                  transition: all .4s;
                  margin-left: 15px;
                  margin-top: 9px;

                  content: '';
                  border: solid black;
                  border-width: 0 3px 3px 0;
                  display: inline-block;
                  padding: 7px;
                  transform: rotate(-135deg);
                  -webkit-transform: rotate(-135deg);
                }
              }
              &::after{
                margin-left: 15px;
                margin-top: -6px;

                content: '';
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 7px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }
          }
        }
        .custom-toogle-wrapper{
          margin-bottom: 10px;
          margin-top: 10px;

          &-header{
            display: none;
            font-size: 21px;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &::after{
              margin-left: 15px;
              margin-top: 9px;

              content: '';
              border: solid black;
              border-width: 0 3px 3px 0;
              display: inline-block;
              padding: 7px;
              transform: rotate(-135deg);
              -webkit-transform: rotate(-135deg);

            }

            &.is-closed{
              &::after{
                margin-left: 15px;
                margin-top: -6px;

                content: '';
                border: solid black;
                border-width: 0 3px 3px 0;
                display: inline-block;
                padding: 7px;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
              }
            }
          }

          &-content{
            padding-top: 15px;
          }
        }


        .btn{
          position: relative;
          left:50%;
          transform: translateX(-50%);
          margin-top:25px;
        }
        &__checkboxes{
          margin-top:20px;
          &:after {
            content: "";
            display: table;
            clear: both;
          }
          label{
            width: 50%;
            float:left;
          }
        }
        &__slider{
          padding:10px 0;
          &-item{
            margin:20px 0;
            >p{
              margin-top: 10px;
              margin-bottom: 5px;
            }
            &-text{
              p{
                text-align: left;
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
    &__products{
      .dd-options{
        display: block;
        top: 43px;
        background: rgba(0, 0, 0, 0.9);
        width: 200px;
      }
      &-products{
        .col-md-6{
        }
        &[data-view="list"]{
          .col-md-4{
            width: 100% !important;
            max-width: 100%;
            flex:100%;
          }
          .home_catalog-products__item{
            &-content{
              display: flex;
              &__background{
                min-width: 310px;
                max-width: 310px;
              }
            }
          }
        }
      }
      &-config_panel{

        button{
          background: transparent;
          cursor: pointer;
          margin-left:15px;
          border: 0 none;
          height: 28px;

          &[data-change-product-view="grid"]{
            background: url("/storage/images/catalog-grid.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 28px;
            &.active{
              background: url("/storage/images/catalog-grid-active.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
            &:hover{
              background: url("/storage/images/catalog-grid-active.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }

          &[data-change-product-view="list"]{
            width: 38px;
            background: url("/storage/images/catalog-list.png");
            background-repeat: no-repeat;
            background-size: contain;
            &.active{
              background: url("/storage/images/catalog-list-active.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
            &:hover{
              background: url("/storage/images/catalog-list-active.png");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .catalog_page{
    &-content{
      &__filter{
        margin-top: 0;
        &-content{
          .custom-toogle-wrapper-header{
            display: flex;
          }
        }
      }

      &__products{
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .catalog_page{
    &-filter{
      &__search{
        &:after{
          left:5px;
        }
      }

      &__menu{
        height: auto;
        flex-wrap: wrap;
        &-item{
          width: 50%;
          padding: 10px 0;
          text-align: center;

          &__dropdown{
            left:0;
            min-width: 100%;
            z-index: 20;
            &:before{
              left:50%;
              transform: translateX(-50%);
            }

            &-country,&-type,&-attributes{
              right: 0;
              left: auto;
            }
          }
        }
      }
    }
    &-content{
      &__filter{

      }
      &__products{
        margin-top: 30px;
        &-products{
          &[data-view="list"]{
            .home_catalog-products__item-content{
              flex-direction: column;

              .home_catalog-products__item-content__background{
                min-width: 100%;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .catalog_page {
    &-content {
      &__products {
        .dd-select{
          label{
            font-size: $font-size-small;
          }
        }
        .dd-options {
          top: 33px;
          left: 30px;
          width: calc(100% - 60px);
        }
      }
    }
  }
}
