.contacts_page{
  margin-top: 0;

  .contacts_block-header_block{
    &__main_header{
      margin-bottom: 0;
    }
  }
}

.contacts_block__general-info{
  margin: 90px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    &.address{
      p{
        margin-bottom: 0;
      }
    }

    &.phones{
      p{
        margin-bottom: 0;
      }
    }

    &.email{
      p{
        margin-bottom: 0;
      }
    }

    &-image{
      width: 40px;
      height: 40px;
      margin-right: 10px;

      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .contacts_block__general-info{
    &-item{
      justify-content: flex-start;
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .contacts_block__general-info{
    &-item{
      justify-content: flex-start;
    }
  }
}