// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//flags
@import "node_modules/flag-icon-css/sass/flag-icon";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic");
@import "node_modules/font-awesome/scss/font-awesome";

// Data Tables
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

@import "node_modules/select2/dist/css/select2";

// AdminLTE
@import "node_modules/admin-lte/dist/css/AdminLTE";
@import "node_modules/admin-lte/dist/css/skins/_all-skins";

// Dropzone
@import "node_modules/dropzone/dist/dropzone";

// Custom CSS
.inactive-tab {
    filter: opacity(0);
}

.error-tab-header {
    background-color: #D73925 !important;
}
.has-translation {
    font-weight: bold;
}

.error-tab-header-label {
    display: none;
}
.nav-tabs-custom.nav-tabs-translation > .nav-tabs > li > a {
    color: #bbb;
}
.nav-tabs-custom{
    > .nav-tabs{
        > li.has-translation{
            > a {
                color: #3c8dbc;
            }
        }
        > li.error-tab-header{
            > a {
                color: #fff;
            }
        }
        > li.active.error-tab-header{
            > a {
                color: inherit;
            }
        }
    }
    .tab-content{
        .tab-pane{
            .row{
                .form-group{
                    margin: 15px;
                }
            }
        }
    }
}

.error-tab-header .error-tab-header-label {
    display: inline;
}


.input-group {
    > .form-group {
        input {
            width: 100%;
            height: 34px;
        }
    }
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
    left: 0px;
}

table.dataTable.table-condensed .sorting:after,
table.dataTable.table-condensed .sorting_asc:after,
table.dataTable.table-condensed .sorting_desc:after {
    top: 15px;
    left: 0px;
}

table.dataTable.table-condensed td,
table.dataTable.table-condensed th {
    padding-left: 20px;
}

table.dataTable thead .sorting:after {
    opacity: 0;
}

table.dataTable.table-condensed .sorting:hover:after {
    opacity: 0.2 !important;
}

.order-result {
    display: flex;
    justify-content: space-between;
}

.alert {
    margin: 15px;
}
.td-action{
   width: 90px;

    .btn{
        margin-left:5px;
    }
}

.position-relative{
    position: relative;
}

.placeholder_dropdown{
    position: absolute;
    width: 100%;
    background: #fff;
    &-item{
        cursor: pointer;
        border: 1px solid #ccc;
        padding: 7px 15px;
        transition: .8s;
        &:hover{
            background: #f7f7f7;
        }
    }
}

a > img{
    outline: 0 none;
}

.flag-icon-en{
    background-image: url(/images/vendor/flag-icon-css/flags/4x3/gb.svg?4f1b7af5c0bae6aae85c3e7ba9401a85);
}

.img-thumbnail{
    max-width: 100px;
    img{
        width:100%;
    }
}