#app{
  &.p-85{
    padding-top: 85px;
  }
}
.header{
  box-shadow: 0 0 8px 4px #0000001f;
  position: fixed;
  top: 0;
  z-index: 2222;
  background: #fff;
  width: 100%;
  transition:.4s;


  &_logo_adaptive{
    display: none;
  }
  .navbar-toggler{
    border-color: rgba(0, 0, 0, 0.3);
  }
  &.transparent_header{
    background: rgba(0, 0, 0, 0.2);
    .navbar-toggler{
      border-color: rgba(255, 255, 255, 0.7);
    }
    #menu_toggle_button{
      i{
        color:#fff;
      }
    }
    a{
      color:#fff;
      img{
        max-height: 90px;
      }
      &:hover{
        color:#000;
      }
    }
    .dd-select{
      color:#fff;
    }
    .dd-pointer-down{
      filter: brightness(0) invert(1);
    }
  }


  &_item{
    >a{
      img{
        max-height: 90px;
        max-width: 100%;
      }
    }
    &-menu{
      a{
        white-space: nowrap;
        position: relative;
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        padding:0 20px;
        height: 85px;
        padding-top: 35px;
        transition: .4s;

        &:after{
          width: 0;
          content:"";
          height: 3px;
          background-color: $main_color;
          position: absolute;
          transition: .4s;
          bottom: 0;
          left:0;
        }
        &:hover{
          background: #f8f8f8;
          &:after{
            width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .header_item {
    .dd-container{
      padding: 10px 0 20px 0;
    }
    .dd-selected{
      padding: 0;
    }
    .dd-options{
      top: auto;
      left: -15px;
      bottom: 50px;
      background: rgba(0, 0, 0, 0.8);
    }
    > a {
      img {
        height: 70px;
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, md)) {

}
@media (max-width: map-get($grid-breakpoints, sm)) {


  .header{
    &_logo{
      display: none;
      &_adaptive{
        display: block;
      }
    }

    &_item{
      &-menu a{
        height: 40px;
        padding: 0;
      }

    }

  }
}