@media screen and (max-width: 991px) {
    .header {
        &_item {
            &-menu {
                a {
                    height: auto;
                    padding: 10px;
                }
            }

            .dd-container {
                padding: 10px 0;
            }
        }
    }
}


