.footer{
  padding: 60px 0 140px 0;
  background: #1f223e;
  z-index: 1;
  position: relative;

  a, p, span, i{
    color:#fff;
  }
  &-blog_title{
    font-size: $font-size-medium;
  }
  ul{
    list-style-type: none;
    padding: 0;

    li{
      margin-bottom: 15px;
    }
  }
  &-location,&-telephone,&-planet{
    position: relative;
    &:after{
      position: absolute;
      left:-40px;
      top:50%;
      transform: translateY(-50%);
    }
  }
  &-location{
    &:after{
      content:url("/storage/images/footer_location.png");
    }
  }
  &-telephone{
    &:after{
      content:url("/storage/images/call.png");
    }
  }
  &-planet{
    &:after{
      content:url("/storage/images/worldwide.png");
    }
  }
  a{
    &:hover{
      text-decoration: underline;
    }
  }
  &-title{
    margin-bottom: 15px  !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-medium;
    margin-top:20px;
  }
  label{
    position: relative;
    margin-top:25px;

    ::placeholder {
      color: #fff;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
    }
    #subscribe_input{
      border:1px solid #fff;
      background: transparent;
      color: #fff;
      padding: 5px 10px;
    }
    button{
      position: absolute;
      right:0;
      cursor: pointer;
      top:50%;
      transform: translateY(-50%);
      background: transparent;
      border: 0 none;
    }
  }

}


@media (max-width: map-get($grid-breakpoints, md)) {
  .footer{
    padding: 20px 0 60px 0;
    text-align: center;

    &-location,&-telephone,&-planet{
      padding-left: 15px;
      max-width: 290px;
      position: relative;
      margin: 0 auto;
      &:after{
        left:0;
      }
    }
  }
}
