#banner{
  min-height: 100vh;
  position:relative;
  z-index: 0;
  .banner-overlay{
    width: 100%;
    position: fixed;
  }
  .owl-carousel{
    display:block;
    width:100%;
    position: relative;
    .owl-item{
      display:block;
      width:100%;
      .item{
        display:block;
        width:100%;
        position:relative;
        height:100vh;
        overflow:hidden;
        img{
          min-width:100%;
          min-height:100%;
          position:absolute;
          left:50%;
          top:50%;
          transform: translateY(-50%) translateX(-50%);
          -webkit-transform: translateY(-50%) translateX(-50%);
          z-index:-1;
        }
        video{
          min-width:100%;
          min-height:100%;
        }
      }
    }
    .owl-nav{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transform: translateY(-50%);
      top: 45%;
      height: 1px;

      button.owl-prev,
      button.owl-next{
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 5px !important;
        background: rgba(255, 255, 255, 0.5) !important;

        &:hover{
          background: rgba(255, 255, 255, 0.8) !important;
        }

        span{
          font-size: 75px;
          color: #ffc50b;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {
  #banner{
    min-height: 70vh;

    .owl-carousel{
      .owl-item{
        .item{
          height: 70vh;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  #banner{
    min-height: 60vh;

    .owl-carousel{
      .owl-item{
        .item{
          height: 60vh;

          img{
            object-fit: cover;

            position: relative;
            left: unset;
            top: unset;
            transform: none;
            -webkit-transform: none;
          }
        }
      }
    }
  }
}