.home_catalog{
  background: $background_color;
  position: relative;
  z-index: 2;

  .container{
    position: relative;
  }
  &-products{
    padding-top: 40px;
    padding-bottom: 80px;
    position: relative;
    z-index: 1;
    .owl-carousel .owl-item .home_catalog-products__item-content__info img{
      width: auto;
      display: inline-block;
    }
    &__item{
      padding: 15px 0;
      transition: .8s;
      &-title{

      }
      &-content{
        background: #fff;
        box-shadow: 0 0 10px 0px rgba(0,0,0,.3);
        &:hover{
          .home_catalog-products__item-content__background-thumb{
            &__price{
              background-color: rgba(0,0,0,.7);
            }
            img{
              transform: scale(1.2);
            }

          }

        }
        &__info{
          padding: 15px;
          &-address{
            span{
              font-size: 13px;
            }
            p{

            }
          }
          &-attributes{
            position: relative;
            padding-top: 10px;
            &:before{
              content:"";
              position: absolute;
              display: block;
              top:0;
              height: 1px;
              background: #c8c8c8;
              width: calc(100% - 30px);
              left:15px;
            }
            &__item{
              margin:5px 0;

              img{
                margin-right: 10px;
              }
            }
          }
        }
        &__background{
          &-thumb{
            overflow: hidden;
            position: relative;

            img{
              transition: 1.2s ease;
              width: 100%;
            }
            &__price{
              pointer-events: none;
              transition: 1.2s ease;
              padding: 5px 15px;
              width: 100%;
              position: absolute;
              bottom: 0;
              background-color: rgba(0,0,0,.3);
              .price_container{
                margin-bottom: 0;
                span{
                  color:#fff;
                }
              }
            }
          }
        }
      }
    }
  }
  &-filter{
    background:#fff;
    position: absolute;
    top:-120px;
    width: calc(100% - 30px);
    padding:0px 15px;
    z-index: 2;
    box-shadow: 0px 0px 20px 9px #00000029;

    .dd-selected-text{
      max-width: 120px;
      white-space: nowrap;
      overflow: hidden;
    }
    input {
      box-shadow: none;
      border: 0;
    }
      &.opened{
      .row.home_catalog-filter__advanced {
        max-height: 280px;
        opacity: 1;
      }

      #advanced_search{
        background: $main_color;
      }
    }


    &__advanced{

      &-slider{
        padding-bottom: 20px;

        b{
          margin:0 25px;
        }
      }
      >div{
        padding-top:25px;
        padding-bottom: 10px;
      }

      label{
        width: 50%;
        float: left;
      }
    }
    .row.home_catalog-filter__advanced{
      width: 100%;
      max-height: 0;
      transition: .8s;
      overflow: hidden;
      opacity: 0;
      border-top:1px solid #e8e8e8;
      padding:0;
    }

    .dd-options{
      min-width: auto;
      background: rgba(0,0,0,.8);
      top: 49px;
    }

    .dd-selected{
      padding-top: 10px;
      padding-bottom: 10px;
    }

    &__countinput{
      label{
        width: auto;
      }
      input{
        width:50px;
        text-align: center;
      }
      .btn{
        margin:0 5px;
      }
    }

    .gj-datepicker{
      width: auto;
      flex-direction: row-reverse;
      .btn{
        border:0 none;
        &:active{
          border:0 none;
          box-shadow: none;
          background: none;
        }
      }
      .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-secondary.dropdown-toggle:focus{

        border:0 none;
        box-shadow: none;
        background: none;
      }
    }
    >.row{
      &:first-child{
        &:after{
          left:0;
          content:"";
          width:100%;
          position: absolute;
          bottom: 0;
          display: block;
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }
    .row{
      position: relative;
      padding-top:10px;
      padding-bottom:10px;
    }
    &__search{
      position: relative;
      input{
        padding-left: 45px;
      }
      &:before{
        content:url("/storage/images/search-icon.png");
        display: block;
        position: absolute;
        left:30px;
        top:50%;
        transform: translateY(-50%);
      }
    }
    &__buttons{
      .btn-default{
        background-color:#ffc50b;
      }
      #advanced_search{
        span{
          i{
            color:#fff;
          }
        }
        &:after{
          font-family: 'Font Awesome 5 Free';
          content: "\f1de";
          display: none;
          font-weight: 900;
        }
      }
      select{
        max-width: 120px;
        text-transform: uppercase;
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, xl)) {

  .home_catalog{
    &-products{
      &__item{
        &-content__info-attributes__item{
          span{
            font-size: $font-size-small;
          }
        }
      }
    }
    &-filter{
      position: absolute;
      .dd-selected-text{
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
      }
      &__search{
        padding: 0;
        &:before{
          left: 20px;
        }
        input{
          padding-right: 0;
          padding-left: 45px;
        }
      }
      &__advanced{
        label{
          font-size: $font-size-small;
        }
      }

      &.opened{
        .home_catalog-filter-counters{
          max-height: 80px;
        }
      }

      &-counters{
        transition:  .8s;
        max-height: 0;
        overflow: hidden;
      }
    }
  }
}


@media (max-width: map-get($grid-breakpoints, lg)) {
  .home_catalog{

    .container{
      max-width: 100%;
    }
    &-filter{
      top:-140px;
      .dd-options{
        top:44px;
        a{
          text-transform: none;
          font-size: $small-font-size;
        }
      }
      &__search{
        input{
          font-size: $small-font-size;
        }
      }

      .dd-selected-text{
        max-width: 95px;
        text-transform: none;
        font-size: $small-font-size;
      }
      .btn-primary{
        font-size: $small-font-size;
      }
      &__advanced{
        &-slider{
          .option-name{
            display: block;
          }

          .options-info{
            b{
              &:first-child{
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: map-get($grid-breakpoints, md)) {

  .home_catalog{
    &-filter{
      .row{
        >div{
          &:nth-child(1){
            order:2;
          }
          &:nth-child(2){
            order:1;
          }
          &:nth-child(3){
            order:3;
          }
        }

      }
      &.opened{
        .row.home_catalog-filter__advanced{
          max-height: 430px;
        }
      }
      .dd-selected-text{
        max-width: 250px;
      }
      .dd-options{
        top:44px;

      }
      .dropdown{
        .filter-option-inner{
          font-size: $small-font-size;
        }
      }

      .dd-selected, input{

      }

    }

  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .home_catalog{
    .container{
      padding: 0;
    }
    &-products__item{
      padding: 15px;
    }
    &-filter{
      width: 100%;

      &__countinput{
        label{
          width: 100%;
          margin-bottom: 5px !important;
          span{
            width: 30%;
            text-align: right;
            display: block;
          }
        }
      }
      &__advanced{


      }
      #category_filter-dd-placeholder{
        .dd-selected {
          min-width: 115px;
        }
      }

      .dd-selected{
        max-width: 115px;
        padding: 0 5px;
        margin-bottom: 10px;
      }
      .dd-selected-text{
        text-transform: none;
        font-size: $small-font-size;
      }

      &__search{
        padding-left: 15px;
        padding-right: 15px;
        &:before{
          left:25px;
        }
        input{
          font-size: $small-font-size;
          padding-left: 45px;
        }
      }

      .dd-options{
        top: 29px;
        width: 120px;
        .dd-option{
          padding: 5px;
        }
      }
      &.opened{
        .row.home_catalog-filter__advanced{
          max-height: 480px;
        }
      }
      > .row:first-child:after{
        width: calc(100% - 30px);
        left:15px;
      }
      .gj-datepicker{
        display: none;
      }
      &__buttons{
        #advanced_search{
          span{
            display: none;
          }
          &:after{
            display: block;
          }
        }
      }

    }
  }
}
