.section_our_agents{
  padding-top: 130px;

  .main_header{
    text-align: center;
    margin-bottom: 30px;
  }

  &_subtitle{
    text-align: center;
  }

  &_wrapper{
    margin-top: 60px;

    &_agent{
      margin-bottom: 15px;

      &_image{
        width: 100%;
        height: 316px;
        position: relative;

        &_overlay{
          display: block;
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.72);
          transition: .8s;

          &_contact_wrapper {
            padding: 20px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            color: white;
            height: 100%;

            &_title{
              margin-bottom: 10px;
              margin-left: 25px;
            }

            &_item{
              display: flex;
              margin-bottom: 15px;

              &:last-child{
                margin-bottom: 0;
              }

              .icon{
                width: 20px;
                height: 16px;
                margin-right: 7px;

                img{
                  display: block;
                  width: 20px;
                  height: 16px;
                  object-fit: contain;
                }
              }

              .text{
                font-size: $font-size-normal;
                display: flex;
                flex-direction: column;

                a{
                  color: #fff;
                }
              }
            }
          }
        }

        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &_desc{
        text-align: center;
        padding: 15px 10px;
        background: #c8c8c8;
        color: white;

        p{
          color: white;

          &.name{
            font-weight: bold;
            height: 20px;
            overflow: hidden;
          }

          &.works{
            margin: 0;
            height: 20px;
            overflow: hidden;
          }
        }
      }

      &:hover{
        .section_our_agents_wrapper_agent_image{
          &_overlay{
            opacity: 1;


            &_contact_wrapper{


            }
          }
        }

        .section_our_agents_wrapper_agent_desc{
          background: #fcb226;
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, lg)) {
  .section_our_agents{
    &_wrapper{
      &_agent{
        &_image{
          img{
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, md)) {
  .section_our_agents{
    &_wrapper{
      &_agent{
        &_image{
          img{
            object-fit: cover;
          }
        }
      }
    }
  }
}

@media (max-width: map-get($grid-breakpoints, sm)) {
  .section_our_agents{
    &_wrapper{
      &_agent{

        &:hover{
          .section_our_agents_wrapper_agent_image{
            &_overlay{
              &_contact_wrapper{
                align-items: center;

                &_title{
                  margin-left: 0;
                }
              }
            }
          }
        }

        &_image{
          img{
            object-fit: contain;
          }
        }
      }
    }
  }
}