ul.pagination{
  margin: 30px 0;
  flex-wrap:wrap;

  li{
    margin-right: 5px;
    margin-bottom: 5px;

    &:last-child{
      margin-right: 0;
    }

    &:hover,
    &:focus{
      span,a{
        background: #ffc50b !important;
        box-shadow: 0 0 0 !important;
        color: #fff !important;
        outline: none;
      }
    }

    span,
    a{
      padding: 0.375rem 0.86rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: 0.25rem;
      color: #000 !important;
    }

    &.active{
      span,a{
        background: #ffc50b !important;
        box-shadow: 0 0 0 !important;
        color: #fff !important;
        outline: none;
        border: 1px solid;
        border-color: #dee2e6 !important;
      }
    }
  }
}